node_modules/
.next/
out/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example
*.log
*.tsbuildinfo
.eslintcache
.turbo/
.vercel/
.idea/
.vscode/
.DS_Store
Thumbs.db
Desktop.ini
